.baner {
    background-image: url('../../../assets/imaage/59250557.jpg');
    width: 100%;
    margin-top: 100px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    .textdv {
        font-size: 25px;

    }
}